{% extends 'base.html' %}
{% load static %}

{% block title %}ارتباط با ما{% endblock title %}ارتباط با ما

{% block content %}

<div class="contact">

    <div class="container grid">
        <div class="matin flex">
            <img src="{% static 'images/Saba.jpg' %}" alt="">
            <h3>نام و نام خانوادگی : صبا داودی</h3>
            <h3 id="email">ایمیل : <a href="mailto:sabadavoudi02@gmail.com">sabadavoudi02@gmail.com</a></h3>
            <h3 id="telegram">تلگرام : <a href="https://t.me/sb_d02">sb_d02</a></h3>
        </div>
        <div class="amirreza flex">
            <img src="{% static 'images/Amirreza.jpg' %}" alt="">
            <h3>نام و نام خانوادگی : امیررضا کریمی</h3>
            <h3 id="email">ایمیل : <a href="mailto:ak321402762@gmail.com">ak321402762@gmail.com</a></h3>
            <h3 id="telegram">تلگرام : <a href="https://t.me/karimBoozayef">karimBoozayef</a></h3>
        </div>
        
     </div>
</div>

{% endblock content %}
